.App {
  text-align: center;
}
.fab {
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color: red;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	-webkit-box-shadow: 0px 2px 15px -2px rgba(28,27,28,1);
	-moz-box-shadow: 0px 2px 15px -2px rgba(28,27,28,1);
	box-shadow: 0px 2px 15px -2px rgba(28,27,28,1); 
}
.fab .icon {
	position: absolute;
    top: 20px;
    left: 24px;
    font-size: 30px;
}
.toolbar {
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	background-color: red;
	height: 75px;
	line-height: 75px;
	text-align: center;
	font-size: 32px;
	color: white;
	-webkit-box-shadow: 0px 2px 15px -2px rgba(28,27,28,1);
	-moz-box-shadow: 0px 2px 15px -2px rgba(28,27,28,1);
	box-shadow: 0px 2px 15px -2px rgba(28,27,28,1);
}
.content {
	margin-top: 100px;
}
.images-list {
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	-webkit-box-orient: horizontal; 
	-webkit-box-direction: normal; 
	-ms-flex-direction: row; 
	flex-direction: row; 
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.image-wrapper {
	width: 300px;
	text-align: center;
	margin: 20px;
}
.image-wrapper .image {
	display: inline-block;
	font-size: 25px;
	height: 410px;
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 15px -2px rgba(28,27,28,1);
	-moz-box-shadow: 0px 2px 15px -2px rgba(28,27,28,1);
	box-shadow: 0px 2px 15px -2px rgba(28,27,28,1);
}
.image-wrapper img {
	width:100%;
	height: 270px;
	cursor: pointer;
}

.image-timestamp {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.upload-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	height: 400px;
	width: 400px;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.upload-modal-overlay {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000ff;
}
  

  @media (min-width: 1281px) {
	.image-wrapper {
		width: 450px;
	}
  }

  /* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 992px) and (max-width: 1480px) {
	.image-wrapper {
		width: 300px;
	}
  }
  
  /* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 991px) {
	.image-wrapper {
		width: 300px;
	}
  }
  
  /* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
	.image-wrapper {
		width: 300px;
	}	
  }
  
  /* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
	.image-wrapper {
		width: 500px;
	}
  }
  
  @media (max-width: 480px) {
	.image-wrapper {
		width: 300px;
	}
  }
  .typed-text {
	  display: block;
	  width: 260px;
	  margin: 0 auto;
	  overflow: hidden;
	  white-space: nowrap;
	  animation: typing 5s steps(40,end);
  }
@keyframes typing {
  0% {
	width: 0%;
  }
  100% {
	width: 100%;
  }
}
